@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@100;200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: #143d59;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-text {
    background-color: #fdfdfd;
    width: 60%;
    padding: 1rem;
    border-radius: 5px;
}

.timer {
    color: #f4b41a;
    font-size: 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid #f4b41a;
    text-align: center;
}

.results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #f4b41a;
    margin-top: 1rem;
    padding-top: 1rem;
    color: #000;
    font-size: 1.2rem;
}

.try_again {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: #143d59;
    color: #fdfdfd;
    letter-spacing: 3px;
    font-size: 1rem;
    cursor: pointer;
}

.main {
    max-height: 50vh;
    overflow-y: auto;
    padding: 1rem;
    color: #000;
    line-height: 2.5rem;
    font-size: 1.5rem;
    text-align: justify;
    font-family: 'Rowdies', cursive;
    font-weight: 100;
    letter-spacing: 2px;
}
input{
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.main::-webkit-scrollbar {
    display: none;
}

.correct {
    background-color: rgba(128, 237, 109, 0.5);
}

.incorrect {
    background-color: rgba(232, 85, 74, 0.5);
}

.active{
    position: relative;
    color: #f4b41a;
}
.active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #143d59;
    height: 1px;
    width: 100%;
    animation: blink 1s ease-in-out infinite;
    opacity: 0;
}

@keyframes blink {
    50%{
        opacity: 1;
    }
}